@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  font-size: 62.5%; /* or 10px */
}

body {
  background-color: #e5e5e5;
  max-width: 147.2rem;
  margin: 0 auto;
}

body  p , body  b, label {
  font-size: 1.5rem;
}

.container {
  display: flex;
  gap: 2rem;
}

.mobile-header {
  margin: 1.5rem;
}

.mobile-nav-contain {
  display: flex;
  align-items: center;
  padding: 1.2rem 2.4rem 1.2rem 1.2rem;
  background-color: #ffffff;
  border-radius: 8rem;
}

.mobile-nav-contain button {
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

.left-side {
  padding: 4rem;
  background-color: #ffffff;
  margin: 1.5rem 0 1.5rem 1.5rem;
  border-radius: 1rem;
}

.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.left-side .basic-details .name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
  text-align: center;
}

.left-side .basic-details .skill-name {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
  margin: 1.5rem 0;
  text-align: center;
}

/* social-media */

.social-media-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 1.5rem;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-media a {
  transition: all 0.2s ease-in-out;
}

.social-media a:hover {
  transform: scale(1.2);
}

.division {
  margin: 2.5rem 0;
}

/* detailes */
.detailes {
  display: flex;
  flex-wrap: nowrap;
  gap: 4rem;
}

.detailes p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.detailes .fileds-name p {
  background-color: #ffb400;
}

.detailes .fileds-name p:nth-child(1) {
  width: 4.5rem;
}

.detailes .fileds-name p:nth-child(2) {
  width: 8.5rem;
}

/*..... Languages..... */

.heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 1.5rem;
}

.progress-label {
  position: relative;
  font-size: 1.5rem;
}

.gujarati::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  right: 0;
}

.hindi::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  right: 0;
}

.english::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  right: 0;
}

.progress-container progress {
  width: 100%;
}

progress {
  appearance: none;
  -moz-appearance: none;
}

.loading {
  animation: loading 2s ease-in-out;
}

progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: #ffb400;
  border-radius: 1rem;
}

progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.05rem solid #ffb400;
  border-radius: 1rem;
  height: 0.6rem;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    max-width: 100%;
  }
}

/*..... Skills..... */

.Html::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  right: 0;
}

.CSS::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  right: 0;
}

.Js::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  right: 0;
}

.coming-soon::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  right: 0;
}

/*..... Extra-Skills..... */

.extra-skills-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-name {
  display: flex;
  gap: 1.5rem;
}

.skills-name p {
  font-size: 1.5rem;
}

/*..... resume-download..... */

.resume-download {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  background: #ffb400;
  width: 100%;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #2b2b2b;
  border-radius: 0.5rem;
}

.desktop-mobile {
  display: none;
}

/*............................Right section.............................. */

.rigth-side {
  margin: 1.5rem 1.5rem 1.5rem 0;
}

.hero-banner {
  background-color: #ffffff;
  position: relative;
  padding: 2rem 4rem;
  border-radius: 1rem;
}

.wrapper span {
  position: absolute;
  bottom: -1rem;
  animation: animate 10s linear infinite;
  font-size: 6rem;
  z-index: 1;
  opacity: 0;
}

.wrapper span:nth-child(1) {
  left: 1rem;
  animation-delay: 0.6s;
}

.wrapper span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
}

.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}

.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
}

.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}

.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 4s;
}

.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
}

.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 4s;
}

.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
}

.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 7s;
}

.banner {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  z-index: 1;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  70% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(-80rem) rotate(360deg);
    opacity: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.banner .photos img {
  width: 100%;
  height: 100%;
}

.content .name {
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 123.6%;
  color: #2b2b2b;
}

.content .name span {
  color: #ffb400;
}

.content .details {
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #474747;
}

.content a.hire-me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.6rem 3.2rem;
  gap: 1rem;
  background-color: #ffb400;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #2b2b2b;
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0.1rem, 0.1rem) rotate(0deg);
  }

  10% {
    transform: translate(-0.1rem, -0.2rem) rotate(-0.1deg);
  }

  20% {
    transform: translate(-0.3rem, 0rem) rotate(0.1deg);
  }

  30% {
    transform: translate(0.3rem, 0.2rem) rotate(0deg);
  }

  40% {
    transform: translate(0.1rem, -0.1rem) rotate(0.1deg);
  }

  50% {
    transform: translate(-0.1rem, 0.2rem) rotate(-0.1deg);
  }

  60% {
    transform: translate(-0.3rem, 0.1rem) rotate(0deg);
  }

  70% {
    transform: translate(0.3rem, 0.1rem) rotate(-0.1deg);
  }

  80% {
    transform: translate(-0.1rem, -0.1rem) rotate(0.1deg);
  }

  90% {
    transform: translate(0.1rem, 0.2rem) rotate(0deg);
  }

  100% {
    transform: translate(0.1rem, -0.2rem) rotate(-0.1deg);
  }
}

/* my-services */

.my-services {
  background-color: #ffffff;
  margin: 3rem 0;
  border-radius: 1rem;
}

.heading-left p{
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
  text-align: center;
}

.my-services .services-description ul {
  list-style-type: none;
}

.services-details {
  padding: 4rem 4.5rem;
}

.services-description ul > li:not(:last-child) {
  margin-bottom: 1rem;
}

.services-description ul > li > b {
  color: #ffb400;
}

.services-description ul > li > p {
  margin-top: 1rem;
}

.services-description ul > li > p::before {
  content: "--> ";
}

.features {
  background-color: #e5e5e5;
  margin-bottom: 3rem;
}

.features .skill-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.features .box1 {
  padding: 2.8rem 5.5rem 4.2rem 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  background-color: #ffffff;
  border-radius: 1rem;
}

.features .box1 .svg1 {
  margin-bottom: 2.6rem;
}

.features .box1 p:nth-last-child(2) {
  margin-bottom: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 123.6%;
  text-align: center;
  text-transform: capitalize;
  color: #2b2b2b;
}

.features .box1 p:nth-last-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}

.last-part {
  background-color: #e5e5e5;
  margin: 1.5rem;
}

.last-part .notice {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #767676;
  text-align: center;
  padding: 2rem 0;
  border-radius: 1rem;
}

/* contact-form */

.contact-form {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2.5rem;
}

.contact-form .heading-left {
  padding-block: 1.5rem 1rem;
  font-size: 3.2rem;
  text-align: center;
}

form > label, button {
  display: block;
}

.form-container {
  display: flex;
  justify-content: center;
  /* outline: 1px solid #000000; */
}

.form-container form {
  max-width: 57rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-container form > input {
  background-color: #F0F0F6;
  height: 5rem;
  margin-bottom: 1rem;
  border: 0;
  padding-inline: 1rem;
}

.form-container form > textarea {
  background-color: #F0F0F6;
  margin-bottom: 1rem;
  padding: 1rem;
}

.form-container [type="submit"] {
  padding: 1rem 2.5rem;
  background: #ffb400;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: #2b2b2b;
  margin-right: auto;
  border: 0;
  cursor: pointer;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 960px) {
  .container {
    gap: 1.5rem;
  }

  .photos {
    display: none;
  }

  .left-side {
    padding: 2rem;
  }

  .desktop-mobile {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .hero-banner {
    padding: 4rem 2rem;
  }

  .services-details {
    padding: 4rem 2rem;
  }

  .rigth-side {
    margin: 1.5rem;
  }

  .photos {
    display: block;
  }

  .left-side {
    padding: 2.5rem;
    margin: 1.5rem;
  }

  .content .name {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 672px) {
  .banner {
    flex-wrap: wrap-reverse;
  }

  .content .name {
    text-align: center;
  }

  .hero-banner {
    padding: 2rem;
  }

  .content .name {
    font-size: 3rem;
  }

  .banner .photos img {
    width: 100%;
  }
}
